<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3ff_Tg19WeWE_LsP8A0FSgsxQ1fuPztF5a6t1CLeQqa0mNQQiKnD52ZWCmoM20K7u-NA&usqp=CAU">
    
    <!-- tailwind     
    -->
    <script src="https://cdn.tailwindcss.com"></script>

    <title>C2030</title>
</head>

<body>  

        <!-- Navegación -->
        <nav class=" w-full bg-blue-600 text-white font-extrabold text-2xl">
            <div class="flex justify-between">
                <button class="mx-4">C2030</button>
                <ul class="flex justify-evenly p-6 space-x-10">
                    <li>
                        <a href="/">Portada</a>
                    </li>
                    <li>
                        <a href="/about/">Acerca de</a>
                    </li>
                    <li>
                        <a href="/portfolio/">Cursos y Consultoría</a>
                    </li>
                    <li>
                        <a href="/contact/">Contacto</a>
                    </li>
                </ul>

      
        </nav>

        <!-- Imagen de fondo-Cabecera -->

        <header class="flex flex-col items-center w-full bg-no-repeat bg-contain bg-cover" style="
            background-image: url('https://cdn.pixabay.com/photo/2016/08/28/16/50/coal-1626368_1280.jpg');  
            height: 525px;        
            
            ">
            <!-- <img src="https://img.freepik.com/foto-gratis/mano-humana-escribiendo-teclado-computadora-noche-generada-ai_188544-31050.jpg?w=1480&t=st=1698007696~exp=1698008296~hmac=f9b78f75b106b462c95d3265e23586f7b728841c60c16cc59838fc1c224ad2b8" srcset=""> -->
            <!-- <img src="https://img.freepik.com/fotos-premium/crimen-digital-hacker-anonimo_53876-19894.jpg"
            alt="" srcset=""> -->

            <h1 class="text-sky-100 text-4xl my-40">Home</h1>
            <span class="text-sky-100 text-3xl -my-40">Bienvenido</span>
            
        </header>
        

    </div>

    <!-- Footer -->
    <footer class="flex justify-center items-center">
        
            <img class="mx-4 my-5" src="https://cdn-icons-png.flaticon.com/512/2504/2504792.png" alt="#" width="30px" height="30px" srcset="">
            <img class="mx-4 my-1" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png" alt="#" width="30px" height="30px">
            <p class="text-blue-500">Copyright &copy; 2023 . C2030</p>
            <img class="mx-4 my-1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9e/YouTube_Logo_%282013-2017%29.svg/1280px-YouTube_Logo_%282013-2017%29.svg.png"
                alt="#" width="50px" height="50px">      
            <img class="mx-4 my-1" src="https://cdn.pixabay.com/photo/2021/01/30/06/42/tiktok-5962992_960_720.png"
                alt="#" width="30px" height="30px"> 


    </footer>
</body>


</html>